# Project exclude paths
/.gradle/
/Chapter00/dao/build/
/Chapter00/dao/build/classes/java/main/
/Chapter02/beans/build/
/Chapter02/beans/build/classes/java/main/
/Chapter02/beans/build/classes/java/test/
/Chapter00/repos/build/
/Chapter02/config/build/
/.idea/gradle.xml
